<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="kafka-orderhandler-topic" class="ch.qos.logback.core.FileAppender">
    <file>logback.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="com.codenotfound" level="INFO" />
  <logger name="org.springframework" level="INFO" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="orderlog.streamlistener.OrderListener">
    <level value="ALL" />
    <appender-ref ref="kafka-orderhandler-topic" />
  </logger>

</configuration>